* {
    font-family: Helvetica;
}

#baner {
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}

#lewy1 {
    background-color: #EFEFEF;
    width: 55%;
    height: 150px;
    float: left;
}

#lewy2 {
    background-color: #EFEFEF;
    width: 55%;
    height: 300px;
    float: left;
}

#prawy {
    background-color: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
    float: right;
}

#stopka {
    background-color: #00838F;
    color: white;
    padding: 4px;
    font-size: 130%;
    text-align: center;
    clear: both;
}

img {
    box-shadow: 10px 10px 7px dimgray;
    margin: 20px;
    width: 400px;
    height: 320px;
}

table,td,th {
    border: 1px solid #4FB3BF;
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 80%;
}

td,th {
    padding: 4px;
}

tr:hover {
    background-color: #4FB3BF;
}